body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
}
body {
	background-color: #ffffff;
}
a:link, a:active, a:visited {
	color: #FF6600;
	text-decoration: none;
}
.red {
	color: red;
}

a:hover {
	text-decoration: underline;
}
.haupt {
	background-color: #003366;
	color: #FFFFFF;
	font-weight: bold;
	border: 1px solid #FFFFFF;
}
.table {
	border: 1px solid #000000;
}
.neben1 {
	background-color: #F2F2F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}
.neben2 {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}
.input {
	width: 200px;
	border: 1px solid #CCCCCC;
}
.input:focus {
	border: 1px solid #003366;
}
.klein {
	font-size: 10px;
}
