#define Main 1
#define Accept 2
#define Cancel 3
#define AppAdd 4
#define AppDel 5
#define AppDef 6
#define AppUp 7
#define AppDown 8
#define AppSort 9
#define Warning 10
#define Programs 11
#define Starting 12
#define Interface 13
#define Skin 14
#define Programmenu 15
#define Fonts 16
#define Shortcuts 17
#define Folder 18
#define Security 19
#define load_01 20
#define load_02 21
#define Update 22
#define SkinCreator 23
#define Autorun 24
#define Autor 25
#define Error 26
#define Logo_1 27
#define Logo_2 28
#define Logo_3 29
#define Logo_4 30
#define Logo_5 31
#define Logo_6 32
#define Logo_7 33
#define Logo_8 34
#define Logo_9 35
#define Logo_10 36
#define Logo_11 37
#define Logo_12 38
#define Logo_13 39
#define Logo_14 40
#define Logo_15 41
#define Logo_16 42
#define Logo_17 43
#define Logo_18 44
#define Logo_19 45
#define Logo_20 46
#define Logo_21 47
#define Logo_22 48
#define Logo_23 49
#define Logo_24 50
#define Logo_25 51
#define Logo_26 52
#define Logo_27 53
#define Logo_28 54
#define Logo_29 55
#define Logo_30 56
Main ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Main.ico"
Accept ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Accept.ico"
Cancel ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Cancel.ico"
AppAdd ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\AppAdd.ico"
AppDel ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\AppDel.ico"
AppDef ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\AppDef.ico"
AppUp ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\AppUp.ico"
AppDown ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\AppDown.ico"
AppSort ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\AppSort.ico"
Warning ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Warning.ico"
Programs ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Programs.ico"
Starting ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Starting.ico"
Interface ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Interface.ico"
Skin ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Skin.ico"
Programmenu ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Programmenu.ico"
Fonts ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Fonts.ico"
Shortcuts ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Shortcuts.ico"
Folder ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Folder.ico"
Security ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Security.ico"
load_01 ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\load_01.ico"
load_02 ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\load_02.ico"
Update ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Update.ico"
SkinCreator ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\SkinCreator.ico"
Autorun ICON "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Autorun.ico"
Autor BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Autor.bmp"
Error BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Error.bmp"
Logo_1 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_1.bmp"
Logo_2 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_2.bmp"
Logo_3 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_3.bmp"
Logo_4 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_4.bmp"
Logo_5 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_5.bmp"
Logo_6 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_6.bmp"
Logo_7 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_7.bmp"
Logo_8 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_8.bmp"
Logo_9 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_9.bmp"
Logo_10 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_10.bmp"
Logo_11 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_11.bmp"
Logo_12 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_12.bmp"
Logo_13 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_13.bmp"
Logo_14 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_14.bmp"
Logo_15 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_15.bmp"
Logo_16 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_16.bmp"
Logo_17 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_17.bmp"
Logo_18 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_18.bmp"
Logo_19 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_19.bmp"
Logo_20 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_20.bmp"
Logo_21 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_21.bmp"
Logo_22 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_22.bmp"
Logo_23 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_23.bmp"
Logo_24 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_24.bmp"
Logo_25 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_25.bmp"
Logo_26 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_26.bmp"
Logo_27 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_27.bmp"
Logo_28 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_28.bmp"
Logo_29 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_29.bmp"
Logo_30 BITMAP "E:\Documents\PureBasic\Source\Projekte\Launcher\Ressource\Logo\Logo_30.bmp"
