<html>
<head>
<title>($title$)</title>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
<link REL="StyleSheet">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" 
      style="WIDTH: 100%; HEIGHT: 29px" bgColor=#a6caf0>
<tr> 
<td width="5" > </td>
<td><IMG alt="" hspace=2 src="icon.gif" 
            align=absMiddle> <em><FONT 
            color=#000000 
            face=Tahoma><STRONG>Launcher&nbsp;</STRONG> </FONT></em> 
</td>
<td width="60" align="right"></td>
<td width="12">&nbsp;</td>
</tr>
</table>

<div  style="PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px" ><FONT face=Tahoma><FONT 
color=#000000 size=4>($title$)</FONT> </FONT>
<P><FONT face=Arial><FONT size=2>($content$)</FONT></FONT></P><FONT face="Times New Roman" color=#808080 size=2>
<HR>
<FONT face=Arial size=1> Copyright © 2007, PureSoft</FONT><FONT 
color=#000000 size=3> </FONT>   
</FONT>
</div>
<P></P>
</body>
</html>
